---
import { WalletCards } from "@lucide/astro"

const services = [
    {
        title: "Éclairage Int / Ext.",
        items: ["Installation luminaires", "Spots LED", "Éclairage terasse & Jardin", "Détection automatique"]
    },
    {
        title: "Prises électriques",
        items: ["Ajout de prise", "Remplacement prises anciennes", "Mise aux normes"]
    },
    {
        title: "Tableau électriques",
        items: ["Remplacement complet", "Mise en sécurité", "Modernisation existante"]
    },
    {
        title: "Rénovation complète",
        items: ["Maison & appartement", "Commerce", "Local professionnel"]
    }
]
---

<section class="flex flex-col items-center justify-center" id="services-elec">
    <div class="max-w-7xl mx-auto px-6 py-20 w-full">
        <div class="flex flex-col items-center gap-2 mb-16">
            <p class="text-md md:text-lg text-primary">Installation & Rénovation</p>

            <h2 class="text-2xl md:text-4xl text-text font-serif font-bold text-center">Nos services complets</h2>

            <p class="text-md font-normal text-text-muted max-w-2xl mx-auto text-center">
                Du simple remplacement à la rénovation complète, notre équipe s'adapte à chaque chantier
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full mb-2">
            {services.map((item, index) => (
                    <article class="flex flex-col items-start justify-start gap-2 p-6 rounded-md border border-border bg-card">
                        <p class="text-xl md:text-2xl font-semibold text-primary">0{index + 1}</p>
                        <p class="text-lg md:text-xl font-semibold text-text">{item.title}</p>
                        {item.items.map((value) => (
                                <div class="flex items-center gap-2">
                                    <div class="h-2 w-2 rounded-full bg-primary"/>
                                    <p class="text-xs md:text-sm text-text-muted">{value}</p>
                                </div>
                        ))}
                    </article>
            ))}
        </div>

        <div class="flex items-center justify-start w-full gap-2 bg-card border-border border rounded-md p-6">
            <div class="bg-primary-light rounded-md border border-primary-border flex justify-center items-center p-4">
                <WalletCards size={18} stroke-width={1.0} class="text-primary"/>
            </div>

            <div class="flex flex-col items-start justify-start">
                <p class="text-primary font-semibold text-lg md:text-xl">Acompte requis au lancement</p>
                <p class="text-text-muted text-xs md:text-sm">Pour tout démarrage de travaux, un accompte est demandé. Cette condition garantit la planification sérieuse du chantier et la disponibilité de notre équipe pour votre projet.</p>
            </div>
        </div>
    </div>
</section>

