---

import Layout from "../layouts/Layout.astro";
import Headers from "../components/Headers.astro";
import {Clock, File, ShieldCheck} from "@lucide/astro";
import Heros from "../components/Heros.astro";---
<Layout>
    <Headers/>
    <Heros
            title="Votre électricien de <span class='text-primary'>confiance,</span> disponible vite.",
            description="NETARA Électricité intervient rapidement pour tous vos travaux électriques — dépannage urgent, installations neuves, rénovation complète — chez les particuliers comme les professionnels.",
            ctas={[
                {label: "Demander une intervention", href: "#contact"},
                {label: "Nos services", href: "#services-elec"},
            ]},
            informations={[
                {label: "Intervention rapide", icon: Clock},
                {label: "Normes respectés", icon: ShieldCheck},
                {label: "Devis transparant", icon: File},
            ]}
    />
</Layout>