---
import {Award, Layers, Mountain, ShieldCheckIcon} from "@lucide/astro";
const engagements = [
    {
        title: "Adaptabilité",
        description: "Équipements spécifiques pour toitures à forte pente et accès difficiles. Aucun chantier ne nous résiste.",
        icon: Mountain
    },
    {
        title: "Tous Supports",
        description: "Traitement sur tuile terre cuite, béton, ardoise. Des produits adaptés à chaque matériau pour un résultat optimal.",
        icon: Layers
    },
    {
        title: "Expertise Certifiée",
        description: "Techniciens certifiés et chargés d'affaires dédiés pour des conseils personnalisés et un suivi rigoureux.",
        icon: Award
    },
    {
        title: "Sécurité Totale",
        description: "Respect strict des normes de sécurité. Protection des abords du chantier : gouttières, façades et jardins préservés.",
        icon: ShieldCheckIcon
    }
]
---

<section id="engagements" class="flex flex-col items-center justify-center">
    <div class="mx-auto max-w-7xl py-20 px-6 w-full">
        <div class="flex flex-col items-center gap-2 mb-16">
            <p class="text-md md:text-lg text-primary">Nos engagements</p>

            <h2 class="text-2xl md:text-4xl text-text font-serif font-bold text-center">Pourquoi choisir Netara ?</h2>

            <p class="text-md font-normal text-text-muted max-w-2xl mx-auto text-center">
                Une toiture propre, c'est aussi une plus-value immobilière et un patrimoine préservé.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full">
            {engagements.map(item => (
                    <article class="flex flex-col items-start justify-start gap-2 w-full p-6 bg-card border border-border rounded-md hover:scale-[1.02] transition-all duration-500">
                        <div class="flex items-center justify-center bg-primary-light border border-primary-border rounded-md p-2">
                            <item.icon size={18} stroke-width={1.0} class="text-primary"/>
                        </div>
                        <h3 class="text-text text-lg md:text-xl font-semibold">{item.title}</h3>
                        <p class="text-text-muted text-sm md:text-md">{item.description}</p>
                    </article>
            ))}
        </div>
    </div>
</section>
