---
import { Clock, File } from "@lucide/astro";


---

<section class="flex justify-center items-center w-full h-full bg-surface">
    <div class="max-w-7xl mx-auto min-h-screen w-full flex items-center pt-20">
        <div class="flex flex-col items-center justify-center gap-4 w-full px-6">
            <h1 class="text-4xl md:text-7xl font-bold text-text text-center">
                Votre Toiture comme Neuve :
                <span class="text-primary">Nettoyage, Démoussage</span>
                et Protection
            </h1>
            <p class="text-sm md:text-lg text-text-muted max-w-2xl text-center">
                Ne laissez pas la mousse et l'humidité fragiliser votre maison. Expertise professionnelle et traitement hydrofuge longue durée dans le Rhône.
            </p>
            <div class="flex flex-col md:flex-row items-center gap-2">
                <a href="#contact" class="px-6 py-3 bg-primary text-white rounded-md hover:bg-primary-dark transition-all duration-300 w-full text-center">
                    Demander un devis
                </a>
                <a href="#services" class="border border-transparent px-6 py-3 bg-background text-text-muted rounded-md  hover:border-primary-border transition-all duration-300 w-full text-center">
                    Nos services
                </a>
            </div>

            <div class="flex items-center gap-4">
                <div class="flex items-center gap-0.5">
                    <Clock size={12} class="text-text-muted"/>
                    <p class="text-xs text-text-muted">Intervention rapide</p>
                </div>

                <div class="flex items-center gap-0.5">
                    <File size={12} class="text-text-muted"/>
                    <p class="text-xs text-text-muted">Devis sans engagements</p>
                </div>
            </div>
        </div>
    </div>
</section>